.artist{
        margin-top:1rem; 
        font-size:1.9rem;
        line-height:2rem;
        min-height:2.3rem;
        max-height:2.2rem;
        margin-bottom:0rem;
        white-space: nowrap;
        filter: brightness(100%);
        font-weight: 400;
        color:#999;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 1px 2px 5px rgba(0,0,0,1);
}