.artwork{

        width:350px;
        height:350px;
        border-radius:20px !important;
}
.artworkBG{
        min-width:400px;
        position:absolute;
        opacity: 0.15;
        filter: blur(20px);
        z-index:-2;
        left:-10rem;
        top:-18rem;
        transform: rotate(-23deg)
}
.vignette{
        left:-3.5rem;
        top:-7rem;
        position:absolute;
        width:300%;
        height:200%;
        z-index:-2;
}
.artwork:active{
        transform:scale(0.8);
}
.pausecontainer{
        width:250px;
        height:250px;
        background-color:black;
        position:absolute;
        display:flex;
}
.pause{
        width:350px;
        height:350px;
        border-radius:20px;
        opacity:1;
        padding:4rem;
        position:absolute;
        background-color:black;
        background: radial-gradient(circle at center, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
        display:flex;
}
.container{
        width:360px;
        height:360px;
        font-size:50px !important;
        border-radius:20px;
        opacity:1;
        padding:4rem;
        position:absolute;
        background-color:black;
        background: radial-gradient(circle at center, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
        display:flex;
        justify-content: center;
        align-items: center;
}.container div {
        border-radius: 30px;
        padding:calc(2rem - 4px);
        font-size:12.5rem;
        font-weight: 100;
    }