.container_static{
        position: "absolute";
        height: "480px";
        width: "800px";
        top:"0px";
        left:"0px";
        overflow: "hidden";
        z-index: -1;
        transition-duration: "1s";
        background-color:"black";
}