.container {
        width:100%;
        top:1rem;
        margin-top:0rem;
        display:flex;
        height:100%;
        position:relative;
        transition-duration: 0.2s;
}
.increasedMargin {
        margin-top:10rem;
}
.notIncreasedMargin {
        margin-top:0rem;
}