.title{
        font-size: 4rem;
        font-family: arial,sans-serif;
        line-height:4rem;
        min-height:4.2rem;
        max-height:8.4rem;
        height:8.4rem;
        filter: brightness(200%);
        margin-bottom:0rem;
        font-weight: 800;
        overflow:hidden;
        color:white;
        white-space: wrap;
        text-overflow: ellipsis;
        text-shadow: 2px 3px 4px rgba(0,0,0,0.63);
}