.title{
        font-size: 3.5rem;
        line-height:4rem;
        min-height:4.2rem;
        text-transform: uppercase;
        display:flex;
        max-height:8.4rem;
        height:8.4rem;
        margin-bottom:0rem;
        font-weight: 800;
}

.title{
        background-color: white;   
        background-size: 100%;
        background-repeat: repeat; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        transition:10s;
}