.container{
        top:0;
        position: fixed;
        display:flex;
        min-width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        z-index: 9999999999999999;
        transition: 0.5s ease-out;
}
.container{
        width:100px;
        text-align: center;
        margin: 0px auto;
}
.text{
        font-size: 8rem !important;
        margin-top: 2rem;
        margin:0px auto;
        display:flex;
        justify-content: center;
        text-align: center;
}
.circle_diagram{

        box-shadow: inset 0px 0px 0px 10px  black;
        box-sizing: border-box;
        --degree: calc(360deg / 100 * var(--percent));
        --accent-color: white;

        width: 120%;
        max-width: 18rem;
        aspect-ratio: 1;
        position: relative;
        border-radius: 50%;
        filter: drop-shadow(0 0.5rem .5rem rgb(0 0 0 / .3));
        
        display: grid;
        place-items: center;
        font-weight: 300;

        color: var(--accent-color);
        text-shadow: 0 0 5px rgb(0 0 0);
}
.circle_diagram::before, .circle_diagram::after{
        content: "";
        position: absolute;
        border-radius: 50%;
        z-index: -1;
}
.circle_diagram::before{
        inset: 0.7rem;
        background-color: var(--accent-color);
}
.circle_diagram::after{
        inset: 0;
        background-color: rgba(0, 0, 0, 1);
        background-image: linear-gradient(transparent, rgb(0 0 0 / 1));
        --mask1: radial-gradient(black 62%, transparent calc(25% + 1px));
        --mask2: conic-gradient(transparent var(--degree), black calc(var(--degree) + 10deg));
        -webkit-mask-image: var(--mask1), var(--mask2);
        mask-image: var(--mask1), var(--mask2);
}
